.wrapper {
  display: flex;
  width: 100%;
}

.foot-content {
  width: 100%;
  object-fit: cover;
  flex: 0 0 80%;
  padding: 10px;
}

.foot-content {
  position: relative;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.restaurant-picture {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.layout {
  display: flex;
  gap: 20px;
  min-height: calc(100vh - 120px);
}

.left-side {
  flex: 1;
  position: relative;
  max-width: 80%;
}

.shopping-card {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-shadow: -10px 0 15px -5px rgba(0, 0, 0, 0.3),
    10px 0 15px -5px rgba(0, 0, 0, 0.3);
  flex: 0 0 300px;
  background: white;
  position: sticky;
  top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.pizza-logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 40vh;
  z-index: 10;
}

.restaurant-info {
  margin-top: 60px;
}

#dish-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dish-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  background-color: #f9f9f9;
  position: relative;
}

.dish-info {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dish-image-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.dish-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.add-button {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #e67e22;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.add-button:hover {
  background-color: #cf711f;
}

.cart-item {
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}
